*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
}

#paper{
    border: 1px solid #acacac;
    border-radius: 2px;
    width: 595px;
    height: 842px;

    margin: auto;

    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.1);
    overflow: hidden;
}

#grid{
    overflow: hidden;
}