
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2rem;
    padding: 1rem;
    overflow: hidden;
}

#paper{
    border: 1px solid #acacac;
    border-radius: 2px;
    width: 595px;
    height: 842px;

    /* margin: auto; */

    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.1);
    overflow: hidden;

    justify-self: start;
}

#grid{
    overflow: hidden;
}

/* Control panel */
.panel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    justify-self: end;
}

.control_group{
    display: flex;
    flex-direction: column;

    border: 1px solid #dedede;
    border-radius: 2px;
    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.1);

    padding: 0.66rem;
    align-items: center;
    flex-grow: 0;
    justify-content: space-between;
    gap: 0.5rem;
}

.cg_header{
    align-self: flex-start;
    color: var(--accent_color);
    font-weight: bold;
    font-size: 1.3rem;
}

.button{
    width: 75px;
    height: 75px;
    border: 1px solid #acacac;
    border-radius: 2px;
    padding: 0.25rem;

    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.1);
    text-align: center;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.3);
}

.button.active{
    background-color: var(--accent_color);
    color: white;
}

.button.active > svg, .button.active > embed > svg{
    stroke: white;
    fill:white;
}

.flex-h{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.grid-3{
    display: grid;
    grid-template-columns:auto auto auto;
    justify-items: start;
    gap: 0.5rem;
}

#modal-wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}

#modal{
    margin: auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.3);
    width: 45vw;
    margin-top: 15rem;
    position: relative;
}

#modal > textarea{
    width: 100%;
    height: 50%;
    overflow: scroll;
    resize: vertical;
}